@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  font-family: 'Roboto Slab', serif;
  position:absolute;
  border: 10px solid #999;
  width:100%;
  height:100%;
}

table {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}

td {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  font-size: 3.5em;
  width:10rem;
  height:10rem;
}

#one, #two, #three{
    border-top:0px;
}
#one,#four, #seven{
    border-left:0px;
}
#seven, #eight, #nine{
    border-bottom:0px;
}
#three, #six, #nine{
    border-right:0px;
}

