/* @import url('https://fonts.googleapis.com/css?family=Acme'); */
@import url('https://fonts.googleapis.com/css?family=Acme|Covered+By+Your+Grace|Press+Start+2P|The+Girl+Next+Door');

body {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
}

table {
  margin: 20px auto 20px auto;
  font-family: 'Acme', serif;
  /* position: absolute; */
  /* top: 40%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* border: 5px solid pink; */
}

td {
  text-align: center;
  border: 6px solid black;
  font-size: 5.6em;
  width: 150px;
  height: 150px;
  margin: 0px;
}

#greeting {
  padding-top: 10px;
  text-align: center;
  display: none;
}

h3 {
  font-family: 'Press Start 2P', serif;
  font-size: 1.3em;
  margin-bottom: 30px;
}

p {
  font-family: 'The Girl Next Door', serif;
  font-size: 1.5em;
}

a[href$='Toe'],.image{
    display:block;
    background-image:url("../images/social.png");
    background-repeat:no-repeat;
    background-position:center;
    height:128px;
    width:128px;
    margin:0px auto 0px auto;
}

#one,
#two,
#three {
  border-top: 0px;
}
#one,
#four,
#seven {
  border-left: 0px;
}
#seven,
#eight,
#nine {
  border-bottom: 0px;
}
#three,
#six,
#nine {
  border-right: 0px;
}

/* Small screen - acts like the app would */
@media only screen and (max-width: 500px) {
  table {
    max-width: 400px;
    min-width: 100px;
  }

  td {
  text-align: center;
  border: 4px solid black;
  font-size: 9.8vh;
  width: 110px;
  height: 110px;
  margin: 0px;
}
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  table {
    max-width: 480px;
  }


}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  table {
    max-width: 480px;
  }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
  table {
    max-width: 480px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  h1 {
    background-image: url(../images/2xkinglogo.png);
    background-size: 72px 72px;
  }
}
